.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #ddd; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

legend{

    margin-bottom: 20px;
}


label{
    font-weight: 100;
    margin-bottom: 20px;
}

.form-control{
    border-radius: 0px;
}
#example_length, #example_info{
    display: none;
}

#example_length label{
    margin: 0;
}
.dataTables_filter{
    display: none;
}
#example_paginate span{
    display: none;
}

.card_custom{
    padding: 0;
    box-shadow: none;
}

.dataTables_wrapper #example_previous, .dataTables_wrapper #example_next {
    background-color:#fff;
    padding: 10px;
    color: #999!important;
    border: 1px solid #eee;
    margin: 10px;
}

.dataTables_wrapper .dataTables_paginate {
    color: #333;
    float: left!important;
}

.dataTables_wrapper table{
    font-size: 12px!important;
}

.dataTables_wrapper table thead tr{
    background-color: #204d74!important;
    color: #fff;
    font-size: 12px;
}

.table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
    background-color: #fff!important;
    color: #777;
    font-size: 12px;
}

table.dataTable thead th, table.dataTable tfoot th{
    font-weight: 500 !important;
    text-transform: uppercase!important;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
    background-color: #fff !important;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: transparent;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd!important;
}
